.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  width: 320px;
  text-align: center;
}

.login-btn {
  background: #002C56;
  border: none;
  padding: 0.7rem;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  transition: 0.25s;
}
