/* You can add global styles to this file, and also import other style files */
.btn-action {
    width: 100%;
    border-width: 1px;
    border-radius: 4px;
    color: black;
    background-color: transparent;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    padding: 0.375rem 0.75rem;
    line-height: 1.75;
}